<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>CV</title>

  <!-- Web Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
;	<!-- Bootstrap core CSS -->
	<link href="assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<!-- Custom styles CSS -->
	<link href="assets/css/style.css" rel="stylesheet" media="screen">
  <!-- Responsive CSS -->
  <link href="assets/css/responsive.css" rel="stylesheet">

  <link rel="shortcut icon" href="assets/images/ico/favicon.ico">
</head>

<body>
	<div style = 'overflow: hidden' ng-app = "myApp" ng-controller="dataController">
		<!-- Home Section -->
		<section id="home" class="tt-fullHeight">
			<div class="intro">
				<div class="intro-sub">PHONG N. TRAN</div>
				<h1>Full-stack Web<span>site Developer</span></h1>
				<p><br>"I am a boy, my feet don't have shoes"<br>Quote: The girl next table - Đen</p>
		</section><!-- End Home Section -->

		<!-- Navigation -->
		<header class="header">
			<nav class="navbar navbar-custom navbar-fixed-bottom">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					
					<div class="navbar-collapse collapse" id="menu">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#home">Home</a></li>
							<li><a href="#summary">Summary</a></li>
							<li><a href="#experience">Experience</a></li>
							<li><a href="#project">Project</a></li>
							<li><a href="#education">Education</a></li>
							<li><a href="#skills">Skills</a></li>
							<li><a href="#contact">Contact</a></li>
						</ul>
					</div>
				</div><!-- .container -->
			</nav>
		</header><!-- End Navigation -->


		<!-- About Section -->
		<section id="summary" class="section-padding">
		  <div class="container">
		  <div class="summary-tittle">
			<h2>Summary</h2>
			</div>
			<div class="row">
			  <div class="col-md-4 col-md-push-8">
				<div class="biography">
				  <div class="myphoto">
					<img src="assets/images/avarta.jpg" alt="">
				  </div>
				  <ul>
					<li><strong>Name:</strong> {{data.summary.name}}</li>
					<li><strong>Date of birth:</strong> {{data.summary.dateOfBirth}}</li>
					<li><strong>Company:</strong> {{data.summary.company}}</li>
					<li><strong>Position:</strong> {{data.summary.position}}</li>
					<li><strong>Website: </strong><a href={{data.summary.link}}>{{data.summary.website}}</a></li>
				  </ul>
				</div>
			  </div> <!-- col-md-4 -->

			  <div class="col-md-8 col-md-pull-4">
				<div class="short-info">
				  <h3>Objective</h3>
				  <p>Hi! I am third-year student at Faculty of Information Technology, Ho Chi Minh University of Science.</br>Desiring to improve the position of myself, I believe that competition is the fastest way to grow. I'm presently expanding study conducted skills of a front - end developers, eager to bring the best experience to the user, in the future wish to develop more concrete skills back-end. Mastering the components of a system that I will no longer be limited by that system. The ability to endure high pressure and the concentration are trained for a long time, and is a progressive and enthusiastic, you will find in me the most essential element for your company.</p>
				</div>

				<div class="short-info">
				  <h3>What I Do ?</h3>
				  <p>Currently, I am most proficient in programming the application window on a .Net platform. Java, HTML5 / CSS3, JavaScript and AngularJS is the goal I will conquer in the next 6 months:</p>

				  <ul class="list-check">
					<li>HTML5</li>
					<li>CSS/CS3</li>
					<li>Web framework for design</br>front-end</li>
					<li>JavaScript</li>
					<li>AngularJS</li>
					<li>Ajax</li>
				  </ul>
				</div>      
			</div> <!-- /.row -->
		  </div> <!-- /.container -->
		</section><!-- End summary Section -->

			<!-- experience Section -->
		<section id="experience" class="experience-section section-padding">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="experience-title">
							<h2 class="section-title">Experience</h2>
						</div>
						<div class="experience">
							<ul class="timeline" ng-repeat="content in data.experience">
								<li class={{content.class}}>
									<div class="posted-date">
										<span class="month">{{content.month}}</span>
									</div><!-- /posted-date -->

									<div class="timeline-panel">
										<div class="timeline-content">
											<div class="timeline-heading">
												<h3>{{content.title}}</h3>
												<span>{{content.position}}</span>
											</div><!-- /timeline-heading -->

											<div class="timeline-body">
												<p>{{content.describe}}</p>
											</div><!-- /timeline-body -->
										</div> <!-- /timeline-content -->
									</div><!-- /timeline-panel -->
								</li>
							</ul>
						</div>
					</div>
				</div><!-- /row -->
		   </div><!-- /.container -->
		</section><!-- End experience Section -->

			<!-- project Section -->
		<section id="project" class="experience-section section-padding">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="experience-title">
							<h2 class="section-title">Project</h2>
						</div>
						<div class="experience">
							<ul class="timeline" ng-repeat="pj in data.project">
								<li class={{pj.class}}>
									<div class="posted-date">
										<span class="month">{{pj.month}}</span>
									</div><!-- /posted-date -->

									<div class="timeline-panel">
										<div class="timeline-content">
											<div class="timeline-heading">
												<h3>{{pj.title}}</h3>
												<span>{{pj.position}}</span>
											</div><!-- /timeline-heading -->
									   </div> <!-- /timeline-content -->
									</div><!-- /timeline-panel -->
								</li>
						   </ul>
						</div>
					</div>
				</div><!-- /row -->
		   </div><!-- /.container -->
		</section><!-- End project Section -->

			<!-- education Section -->
		<section id="education" class="experience-section section-padding">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="experience-title">
							<h2 class="section-title">Education</h2>
						</div>
						<div class="experience">
							<ul class="timeline" ng-repeat="edu in data.education">
								<li class={{edu.class}}>
									<div class="posted-date">
										<span class="month">{{edu.month}}</span>
									</div><!-- /posted-date -->

									<div class="timeline-panel">
										<div class="timeline-content">
											<div class="timeline-heading">
												<h3>{{edu.title}}</h3>
												<span>{{edu.position}}</span>
											</div><!-- /timeline-heading -->
										</div> <!-- /timeline-content -->
									</div><!-- /timeline-panel -->
								</li>
							</ul>
						</div>
					</div>
				</div><!-- /row -->
		   </div><!-- /.container -->
		</section><!-- End education Section -->
					
		<!--Skills-->
		<section id="skills" class="skills-section section-padding">
			<div class="container">
				<h2 class="section-title">Skills</h2>

				<div class="row">
					<div class="col-sm-6">
						<h2>Programming <strong>Skills</strong></h2>
						<div ng-repeat="skill in data.pro-skills">
                            <div class="row">
                                <div class="col-md-2 skilltitle">{{skill.name-skill}}</div>
                                <div class="col-md-8">
                                    <div class="progress">
                                        <div class="progress-bar" style={{skill.style}}>
                                            <span class="sr-only">{{skill.percent-complete}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>      
					</div>
					<div class="col-sm-6">
						<h2>Soft-<strong>Skills</strong></h2>
					   <div ng-repeat="skill in data.soft-skills">
                            <div class="row">
                                <div class="col-md-2 skilltitle">{{skill.name-skill}}</div>
                                <div class="col-md-8">
                                    <div class="progress">
                                        <div class="progress-bar" style={{skill.style}}>
                                            <span class="sr-only">{{skill.percent-complete}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
				</div>
			</div>        
		</section>

		<!-- Contact Section -->
		<section id="contact" class="contact-section section-padding">
		  <div class="container">
			<h2 class="section-title">Contact</h2>

			<div class="row">
			  <div class="col-md-6">
				<div class="row center-xs">
				  <div class="col-sm-6">
					<strong>Email:</strong>
					  {{data.contact.email}}
				  </div>

				  <div class="col-sm-6">
					<div class="contact-number">
					  <strong>Phone Number:</strong>
					  {{data.contact.phoneNumber}}<br>
					</div>
				</div>
			  </div>
			</div><!-- /.row -->
		  </div><!-- /.container -->
		</section><!-- End Contact Section -->


		<!-- Footer Section -->
		<footer class="footer-wrapper">
		  <div class="container">
			<div class="row">
			  <div class="col-md-12">
				<div class="copyright text-center">
				  <p>&copy; Linkedln.</p>
				</div>
			  </div>
			</div>
		  </div>
		</footer><!-- End Footer Section -->


		<!-- Javascript files -->
		<script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/angular.min.js"></script>
        <script src="assets/js/back-end.js"></script>
	</div>
</body>
</html>